@media (max-width: 670px) {
    .header-left,
    .header-right{
        display: none;
        visibility: hidden;
    }
    .header-logo{
        text-align: center;
    }
    .main-body .title{
        padding-bottom: 10px;
        margin: auto;
    }

    .fa-thumbtack{
        display: none;
        visibility: hidden;
    }
    .text-left,
    .text-right{
        width: 100%;
    }

    .text-left:active,
    .text-right:active{ 
    transform:translateX(10px) translateY(10px) scaleX(1.1) scaleY(1.1);
    }

    .card{
        width:250px;
        height: 300px;
    }

    .image{
        display: block;
        padding: 10px;
        width: 250px;
        height: 270px;
        align-items: center;
        text-align: center;
    }

    .card:active img{
        transform: translateX(-46px) translateY(-40px);
        position: absolute;
        width: 300px;
        height: 320px;
        z-index: 9;
    }

    .card::after{
        display: none;
        visibility: hidden;
    }

    /* .card:hover::after{
        visibility: hidden;
        display: none;
    } */
    .text-left::after,
    .text-right::after{
        display: none;
        visibility: hidden;
    }   

    .mypicture{
        height: 1860px !important;
        /* padding-bottom: 20px; */
    }
    .fa-dove{
        top: 0;
        right: 0;
    }
}

@media (max-width: 1000px) {
    .mypicture{
        height: 100% !important;
    }
}